

<footer>
  <div>Kristof Nemeth</div>
  <a href="https://github.com/kristof1345">github.com/kristof1345</a>
  <br>
  <a href="https://bsky.app/profile/kristf.bsky.social">bsky.app/profile/kristf.bsky.social</a>
</footer>

<style>
  footer {
    font-size: 11px;
    padding-top: 5px;
  }
</style>